:root {
  --FFFFFF: #ffffff;
  --FF6C00: #ff6c00;
  --303030: #303030;
  --rgba15716418906: rgba(157, 164, 189, 0.6);
  --9DA4BD: #9da4bd;
  --555555: #555555;
  --F7F7F7: #f7f7f7;
  --191C26: #191c26;
  --111319: #111319;
}

.contacts, .prices, .hero-contant-three, .hero-contant-two, .hero-contant-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--FFFFFF);
  cursor: pointer;
  border: 1px solid var(--FF6C00);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--FFFFFF);
  border: 1px solid var(--FF6C00);
  border-radius: 25px;
  background-color: transparent;
  width: 160px;
  height: 40px;
  color: var(--FFFFFF);
  transition: background-color 300ms linear;
}
@media screen and (min-width: 1200px) {
  .links {
    margin-left: 43px;
    margin-right: 17px;
  }
}
.links:hover, .links:focus {
  background-color: var(--FF6C00);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.decor::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.wrap-container {
  background-color: var(--191C26);
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .wrap-container {
    display: flex;
  }
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-logo {
    position: absolute;
    top: 32px;
    left: 15px;
  }
}
@media screen and (max-width: 767.9px) {
  .header-logo {
    fill: var(--FFFFFF);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .header-list {
    gap: 30px;
  }
}
@media screen and (max-width: 767.9px) {
  .header-list {
    display: none;
  }
}

.header-list .header-item {
  transition: transform 300ms linear, transform 400ms linear;
}
.header-list .header-item:hover, .header-list .header-item:focus {
  transform: scale(1.5);
  transform: translateY(-10px);
}

.header-connect {
  margin-left: auto;
}
@media screen and (max-width: 767.9px) {
  .header-connect {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-connect {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--FFFFFF);
  padding-top: 20px;
  padding-bottom: 20px;
  transition: color 300ms linear, transform 300ms linear;
}
.header-link:hover, .header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--FF6C00);
  transform: scale(1.5);
}

.open-mob-menu {
  background-color: inherit;
  margin-left: auto;
  border: 0;
  transition: box-shadow 150ms linear;
}
@media screen and (min-width: 768px) {
  .open-mob-menu {
    display: none;
  }
}
.open-mob-menu:active {
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.75);
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 33%, 0.815);
  transition: opacity 300ms linear, visibility 300ms linear;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-box {
  background-color: var(--FFFFFF);
  width: 75vw;
  height: 100vh;
  right: 0;
  padding: 118px 40px 227px;
  position: absolute;
  overflow: scroll;
}

.mob-exit-btn {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--FF6C00);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--191C26);
  transition: background-color 300ms linear, fill 300ms linear;
}
.mob-exit-btn:hover, .mob-exit-btn:focus {
  background-color: var(--FF6C00);
  fill: var(--FFFFFF);
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-list {
  margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: var(--303030);
  transform: color 200ms linear;
}
.mob-menu-link:active {
  color: var(--FF6C00);
}

.mob-menu-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--303030);
  transition: color 200ms linear;
}
.mob-menu-tel:active {
  color: var(--FF6C00);
}

.mob-menu-online {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--FF6C00);
  border-radius: 25px;
  background-color: transparent;
  width: 194px;
  height: 40px;
  color: var(--303030);
  transition: background-color 300ms linear;
  margin-top: 24px;
}
@media screen and (min-width: 1200px) {
  .mob-menu-online {
    margin-left: 43px;
    margin-right: 17px;
  }
}

.mob-menu-soc {
  margin-top: 64px;
  position: relative;
  margin-left: 140px;
}

.mob-menu-soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-soc::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  position: absolute;
  transform: translate(-100px);
  top: 9px;
}

.mob-menu-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--303030);
}

.hero-container {
  display: flex;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0px 58px 40px 27px;
}
@media screen and (max-width: 767.9px) {
  .hero-soc {
    display: none;
  }
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--303030);
  transition: color 300ms linear;
}
.hero-link:hover, .hero-link:focus {
  color: var(--FF6C00);
}

.hero-contant-one {
  padding: 208px 31px;
  background-color: var(--555555);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob-1x.jpg);
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .hero-contant-one {
    padding: 272px 114px 237px 97px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-one {
    padding: 172px 100px 198px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-contant-one {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-contant-one {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-contant-one {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-one {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-contant-one {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-desk-2x.jpg);
  }
}

.hero-contant-two {
  padding: 208px 31px;
  background-color: var(--555555);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob2-1x.jpg);
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .hero-contant-two {
    padding: 272px 114px 237px 97px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-two {
    padding: 172px 100px 198px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-contant-two {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob2-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-contant-two {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab2-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-contant-two {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab2-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-two {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-desk2-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-contant-two {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-desk2-2x.jpg);
  }
}

.hero-contant-three {
  padding: 208px 31px;
  background-color: var(--555555);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob3-1x.jpg);
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .hero-contant-three {
    padding: 272px 114px 237px 97px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-three {
    padding: 172px 100px 198px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-contant-three {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-mob3-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-contant-three {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab3-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-contant-three {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-tab3-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-contant-three {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-desk3-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-contant-three {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-desk3-2x.jpg);
  }
}

.hero-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--rgba15716418906);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767.9px) {
  .hero-text {
    letter-spacing: 0.1em;
  }
}

h1 {
  font-size: 5em;
  font-family: "Raleway", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--FFFFFF);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}

h1 span {
  display: inline-block;
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}
h1 span:nth-child(2) {
  animation-delay: 0.05s;
}

h1 span:nth-child(3) {
  animation-delay: 0.1s;
}

h1 span:nth-child(4) {
  animation-delay: 0.15s;
}

h1 span:nth-child(5) {
  animation-delay: 0.2s;
}

h1 span:nth-child(6) {
  animation-delay: 0.25s;
}

h1 span:nth-child(7) {
  animation-delay: 0.3s;
}

h1 span:nth-child(8) {
  animation-delay: 0.35s;
}

h1 span:nth-child(9) {
  animation-delay: 0.4s;
}

h1 span:nth-child(10) {
  animation-delay: 0.45s;
}

h1 span:nth-child(11) {
  animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  animation-delay: 0.55s;
}

.hero-second-text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  max-width: 321px;
  color: var(--9DA4BD);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero-second-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    max-width: 360px;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 14px;
  background-color: var(--FFFFFF);
}

.swiper .sb {
  color: var(--FF6C00);
}

:root {
  --swiper-navigation-size: 20px;
}

.about-container, .about-list {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1199.9px) {
  .about-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 767.9px) {
  .about-list {
    display: none;
  }
}

.about-item > img {
  max-width: none;
}

.about-box {
  max-width: 418px;
}
@media screen and (min-width: 1200px) {
  .about-box {
    min-width: 470px;
  }
}

.about-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--303030);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-titel {
  font-family: "Raleway", "sans-serif";
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--303030);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about-titel {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
  }
}

.about-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--555555);
  margin-bottom: 20px;
}

.about-bottom-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--555555);
  margin-bottom: 42px;
}

.abou-link.links {
  color: var(--303030);
}

.prices {
  background-color: var(--111319);
  background-image: url(../images/price-bg-mob-1x.png);
}
@media (min-device-pixel-retio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/price-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/price-bg-tab-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/price-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Slider2.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/price-bg-desc-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .prices-box {
    display: none;
  }
}

.prices-desktop-box {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199.9px) {
  .prices-desktop-box {
    display: none;
  }
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--rgba15716418906);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.prices-titel {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--FFFFFF);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .prices-titel {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
  }
}

.prices-list {
  border: 1px solid black;
  padding: 30px 20px;
}
@media screen and (max-width: 1199.9px) {
  .prices-list {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-list {
    width: calc((100% - 30px) / 2);
  }
}
.prices-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background: linear-gradient(180deg, #171a13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--9DA4BD);
  order: 1;
}

.prices-item-text {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--9DA4BD);
}
@media screen and (min-width: 768px) {
  .prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}
.prices-item-text:last-child {
  order: 1;
}

.prices-link.links {
  margin: 44px auto 0px;
}

@media screen and (min-width: 1200px) {
  .container-benefits {
    display: flex;
    gap: 130px;
  }
}

.benefits-list {
  max-width: 416px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 450px;
    margin-left: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 370px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    order: 1;
  }
}
@media screen and (max-width: 1199.9px) {
  .benefits-list {
    margin-top: 44px;
  }
}

.benefits-list span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--303030);
  display: block;
}

.benefits-item {
  flex-grow: 1;
  width: 130px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--F7F7F7);
  box-shadow: 10px 10px 10px 0px rgba(157, 164, 189, 0.6);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(157, 164, 189, 0.6);
  -moz-box-shadow: 10px 10px 10px 0px rgba(157, 164, 189, 0.6);
}
@media screen and (min-width: 480px) {
  .benefits-item {
    width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
  }
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--303030);
}

.benefits-box {
  max-width: 500px;
}
@media screen and (min-width: 1200px) {
  .benefits-box {
    order: 2;
  }
}

.benefits-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--303030);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.benefits-titel {
  font-family: "Raleway", "sans-serif";
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--303030);
  margin-bottom: 20px;
  max-width: 430px;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--555555);
  margin-bottom: 20px;
}

.team {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .team-padding {
    padding-left: 159px;
    padding-right: 159px;
  }
}

.team-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--303030);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.team-titel {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--303030);
  margin-bottom: 44px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 60px) / 3);
  }
}

.team-cover-soc {
  position: relative;
  overflow: hidden;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: hsla(25, 100%, 50%, 0.518);
  width: 100%;
  height: 100%;
  padding: 151px 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.team-item:hover .team-soc-list {
  transform: translateY(0);
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--191C26);
  transition: fill 300ms linear, background-color 300ms linear;
}
.team-soc-link:hover, .team-soc-link:focus {
  fill: var(--FF6C00);
  background-color: var(--191C26);
}

.team-item-box {
  padding-top: 30px;
}

.team-item-titel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--303030);
  margin-bottom: 8px;
}

.team-item-text {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--FF6C00);
  margin-bottom: 30px;
}

.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--303030);
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 100%;
  transition: transform 300ms linear, box-shadow 200ms linear;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}
.gallery-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 3px rgba(34, 60, 80, 0.6);
}

@media screen and (min-width: 1200px) {
  .online {
    width: calc(50% + 15px);
    padding-left: 126px;
  }
}

@media screen and (max-width: 767.9px) {
  .online-container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .online-form-wrap {
    display: flex;
    gap: 30px;
  }
}

.online-titel {
  font-family: "Raleway", "sans-serif";
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--FFFFFF);
  margin-bottom: 44px;
}

.online-form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}

.online-form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px var(--rgba15716418906) solid;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--rgba15716418906);
}
@media screen and (min-width: 768px) {
  .online-form-control input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-form-control input {
    width: 100%;
  }
}
.online-form-control input:focus, .online-form-control input:valid {
  outline: 0;
  border-bottom-color: var(--FF6C00);
}
.online-form-control input:focus + label span, .online-form-control input:valid + label span {
  color: var(--FF6C00);
  transform: translateY(-30px);
}

.online-form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.online-form-control label span {
  display: inline-block;
  font-size: 14px;
  min-width: 5px;
  color: var(--rgba15716418906);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.online-form-control textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px var(--rgba15716418906) solid;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--rgba15716418906);
  resize: none;
}
.online-form-control textarea:not(:-moz-placeholder-shown) {
  outline: 0;
  border-bottom-color: var(--FF6C00);
  background-color: transparent;
}
.online-form-control textarea:focus, .online-form-control textarea:not(:placeholder-shown) {
  outline: 0;
  border-bottom-color: var(--FF6C00);
  background-color: transparent;
}
.online-form-control textarea:not(:-moz-placeholder-shown) + label span {
  color: var(--FF6C00);
  transform: translateY(-30px);
}
.online-form-control textarea:not(:placeholder-shown) + label span, .online-form-control textarea:focus + label span {
  color: var(--FF6C00);
  transform: translateY(-30px);
}

.online-btn {
  color: var(--FFFFFF);
  transition: background-color 300ms linear;
}
.online-btn:hover, .online-btn:focus {
  background-color: var(--FF6C00);
}

.contacts {
  background-image: url(../images/Bg.png);
}
@media screen and (max-width: 767.9px) {
  .contacts {
    flex-direction: column;
  }
}
@media screen and (max-width: 1199.9px) {
  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% - 15px);
    padding: 130px 0px 120px 100px;
  }
}

.contacts-titel {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--FFFFFF);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--9DA4BD);
  transition: color 300ms linear;
}
.contacts-address-link:hover, .contacts-address-link:focus {
  color: var(--FF6C00);
}

.contacts-address-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--9DA4BD);
  transition: color 300ms linear;
}
.contacts-address-tel:hover, .contacts-address-tel:focus {
  color: var(--FF6C00);
}

.contacts-address-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--9DA4BD);
  transition: color 300ms linear;
}
.contacts-address-mail:hover, .contacts-address-mail:focus {
  color: var(--FF6C00);
}

.contacts-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--FFFFFF);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-bottom-text,
.contacts-bottom-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--9DA4BD);
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--F7F7F7);
  padding-top: 44px;
  padding-bottom: 44px;
  max-width: 1600px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767.9px) {
  .footer-list {
    margin-right: 31px;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--9DA4BD);
}
@media screen and (max-width: 767.9px) {
  .footer-text {
    position: absolute;
    top: 79px;
    left: 31px;
  }
}

.footer-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--303030);
  transition: color 300ms linear;
}
.footer-item-link:hover, .footer-item-link:focus {
  color: var(--FF6C00);
}/*# sourceMappingURL=main.css.map */