:root {
  --FFFFFF: #ffffff;
  --FF6C00: #ff6c00;
  --303030: #303030;
  --rgba15716418906: rgba(157, 164, 189, 0.6);
  --9DA4BD: #9da4bd;
  --555555: #555555;
  --F7F7F7: #f7f7f7;
  --191C26: #191c26;
  --111319: #111319;
}
